

<div class="container mt-2">
    <h3 class="text-light">There Is No Result </h3>
    <img src="https://img.freepik.com/premium-vector/vector-illustration-about-concept-no-items-found-no-results-found_675567-6665.jpg" alt="Alternate Text"
    style="width:700px; height:400px;"
    />
    </div>